.gif { 
    height: 100px;
    width: 100px;
    margin: 120px auto;
}

.message { 
  margin: 10px;
  text-align: center;
  color: #7FFF00;
  margin-bottom: 25px;
}

.bar { 
  margin: 10px auto;
  width: 500px;
  height: 30px;
  background-color: white;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.loading { 
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.percentage { 
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.cancel { 
  text-align: center;
  margin-top: 20px;
}

.cancel-btn {
  text-align: center;
  background-color: #ed5e68;
  color: white;
  padding: 25px 40px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}